{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Galería</h1>
    <hr>
    <a href="{{ path('admin_gallery_new') }}">
        <button class="btn btn-primary">Insertar</button>
    </a>
    <hr>
    <table class="table dynamic">
        <thead>
        <tr>
            <th>Orden de prioridad</th>
            <th>Título ES</th>
            <th>Título EN</th>
            <th>Título DE</th>
            <th>Texto ES</th>
            <th>Texto EN</th>
            <th>Texto DE</th>
            <th>Imagen</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.orden }}</td>
                <td>{{ gallery.titlees }}</td>
                <td>{{ gallery.titleen }}</td>
                <td>{{ gallery.titlede }}</td>
                <td>{{ gallery.textes }}</td>
                <td>{{ gallery.texten }}</td>
                <td>{{ gallery.textde }}</td>
                <td><img class="img-thumbnail" src="{{ asset('uploads/gallery/'~ gallery.file) }}"></td>
                <td>
                    <a href="{{ path('admin_gallery_edit', { 'id': gallery.id }) }}">
                        <button class="btn btn-danger"><i class="fa fa-edit"></i></button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

